.footer {
  position: fixed;
  bottom: 0; /* fixa na parte de baixo da tela */
  display: flex;
  justify-content: flex-end; /* coloca alinhado a direita no footer */
}

.footer > span {
  font-size: 1rem;
  font-weight: 300;
}
